<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- Dev profile: human-readable with trace IDs -->
    <springProfile name="!prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [dd.trace_id=%X{dd.trace_id} dd.span_id=%X{dd.span_id}] %msg%n</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- Prod profile: JSON structured logging for Datadog -->
    <springProfile name="prod">
        <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeMdcKeyName>dd.trace_id</includeMdcKeyName>
                <includeMdcKeyName>dd.span_id</includeMdcKeyName>
                <includeMdcKeyName>dd.service</includeMdcKeyName>
                <includeMdcKeyName>dd.env</includeMdcKeyName>
                <includeMdcKeyName>dd.version</includeMdcKeyName>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="JSON"/>
        </root>
    </springProfile>
</configuration>
